.timerCard{
    background-color: yellow;
    height: 100vh;
    padding-top: 10px;
    background: rgb(24,147,102);
    background: linear-gradient(0deg, rgba(24,147,102,1) 30%, rgb(32, 31, 31) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    .timerCard2{
        height: 60%;
        box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.45);
        width: 60%;
        border-radius: 5vh;
        display: flex;
        background-color: rgba(0,0,0,0.2);
        opacity: 0.8;
        flex-direction: column;
        justify-content: center;
        align-items: center; 

        h2{
            margin-top: 5%;
            font-weight: 100;
            font-size: 7vh;
            color: rgba(255, 255, 255, 1);    
            text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.45);
        }

        span{
            font-weight: 100;
            font-size: 4vh;
            color: rgba(255, 255, 255, 1);
            padding-bottom: 20px;
            margin: 1px;
            margin-bottom: 5%;
            margin-top: 3%;
            text-shadow: 7px 7px 4px rgba(0, 0, 0, 0.45);
        }

        .icon{
            height: 80%;
            width: 20%;
        }

        button{
            margin-top: 5%;
            margin-bottom: 0%;
            margin-left: 0%;
            margin-right: 0%;
            padding: 1.2vh;
            border-radius: 3vh;
            box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.45);
            font-weight: 100;
            font-size: 2.5vh;
            color: rgba(255, 255, 255, 1);
            background-color: rgb(12, 61, 43);
            border: none;
            outline: none;
            width: 50%;
        }
        button:hover{
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.45);
            font-size: 2.7vh;
        }
        
        button:focus{
            box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.45);
            font-size: 2.7vh;
        }
    }

}